# Data Wrangling

# Simulate data for stroop experiment

## We need to simulate:
- participant ID's
- reaction times
- responses
    - calculate whether or not the responses are correct

## Simulates binary responses.  
- Numpy stands for "number Python" and deals well with the complex math we use in science
- We are taking random choice from the list `["incorrect", "correct"]`
- There is a sample size of 50, meaning we take a random choice 50 times
- We give it a probability `p` which is specified using Python's fraction notation.  Note that the correct and incorrect probabilities are out of 1, but could have been specified differently
- We'll have more corrects than incorrects in the congruent condition, so we swap the fractions in congrent and incongruent in order to simulate that
    - I'm just picking numbers here, there's nothing concrete about these fractions
    - I picked 1/4 and 3/4 because they are easy

In [45]:
import numpy as np
congruent_responses = np.random.choice(["incorrect", "correct"], size=(50,), p=[1./4, 3./4])
incongruent_responses = np.random.choice(["incorrect", "correct"], size=(50,), p=[3./4, 1./4])

#### Check our data

In [49]:
print("congruent", congruent_responses)
print("incongruent", incongruent_responses)

congruent ['correct' 'correct' 'correct' 'correct' 'correct' 'correct' 'correct'
 'correct' 'correct' 'incorrect' 'correct' 'correct' 'incorrect' 'correct'
 'correct' 'correct' 'incorrect' 'correct' 'correct' 'incorrect'
 'incorrect' 'correct' 'correct' 'correct' 'correct' 'correct' 'incorrect'
 'correct' 'correct' 'correct' 'correct' 'correct' 'correct' 'correct'
 'incorrect' 'correct' 'correct' 'incorrect' 'incorrect' 'incorrect'
 'correct' 'incorrect' 'correct' 'correct' 'correct' 'correct' 'correct'
 'correct' 'correct' 'incorrect']
incongruent ['correct' 'incorrect' 'incorrect' 'correct' 'incorrect' 'incorrect'
 'incorrect' 'incorrect' 'correct' 'incorrect' 'correct' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'correct' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'correct' 'correct' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'correct' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'incorrect'
 'correct' 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'correct'
 'incorrect' 'correct']

## Simulate reaction time data

The `random.triangular` function generates normally distributed random numbers in a range betwen `a` and `b` with a mode of `x`.

In [50]:
import random

a = 0.5 # lowest possible reaction time
b = 6 # highest possible reaction time
reaction_time_incongruent = []
reaction_time_congruent = []
for i in range(50):
    x = 4 # mode of reaction time
    reaction_time_incongruent.append(random.triangular(a, b, 3*x - a - b))
    x = 3 # mode of reaction time
    reaction_time_congruent.append(random.triangular(a, b, 3*x - a - b))

## Put all the data together into a nice looking list
We can make a list of tuples by using the `zip()` function, and feeding that output into a list.  The `zip()` function goes through the specified lists and makes tuples out of corresponding values for each item on the list

In [52]:
data_tuples = list(zip(congruent_responses, incongruent_responses, reaction_time_incongruent, reaction_time_congruent))
data_tuples

[('correct', 'correct', 4.09072585939493, 4.405264513726682),
 ('correct', 'incorrect', 3.566270977937171, 2.111441386352917),
 ('correct', 'incorrect', 2.195652534734611, 4.413130715860444),
 ('correct', 'correct', 5.531087679208128, 4.214852049162969),
 ('correct', 'incorrect', 4.201038966214415, 4.869287838700126),
 ('correct', 'incorrect', 4.09509079115789, 2.345215045806274),
 ('correct', 'incorrect', 4.919734740217468, 2.9895617116324895),
 ('correct', 'incorrect', 4.374863961277895, 3.6734601117909293),
 ('correct', 'correct', 2.6165394840214313, 2.2545717625342903),
 ('incorrect', 'incorrect', 3.647933200930576, 2.441245025479591),
 ('correct', 'correct', 5.59896607302377, 2.399374290314522),
 ('correct', 'incorrect', 5.38832822481784, 3.728126724775336),
 ('incorrect', 'incorrect', 5.142945466203201, 3.387481134798711),
 ('correct', 'incorrect', 1.9871010671790532, 2.2013150401444226),
 ('correct', 'incorrect', 2.5325964066910553, 4.174971467663486),
 ('correct', 'incorrect', 3.497809643586124, 2.462667214933198),
 ('incorrect', 'correct', 5.201146944706371, 1.4646005182091177),
 ('correct', 'incorrect', 3.565825584584851, 2.8055156019131124),
 ('correct', 'incorrect', 2.721452429339796, 4.884287825983365),
 ('incorrect', 'incorrect', 0.982040897262574, 3.6254744180724945),
 ('incorrect', 'incorrect', 2.5055258314364144, 2.4840395471323715),
 ('correct', 'correct', 4.95777281675664, 5.065671435201173),
 ('correct', 'correct', 1.3805536031650436, 2.857450663699959),
 ('correct', 'incorrect', 1.117135587341647, 0.8871681593658309),
 ('correct', 'incorrect', 2.0291923412667905, 3.8900715453419314),
 ('correct', 'incorrect', 5.111228585468506, 3.8778227649928243),
 ('incorrect', 'incorrect', 5.776316624405388, 2.361185996466827),
 ('correct', 'incorrect', 4.180982035394981, 2.130014952390819),
 ('correct', 'correct', 5.878404236200401, 2.45764809428499),
 ('correct', 'incorrect', 5.1060977752679335, 3.6230616588612246),
 ('correct', 'incorrect', 4.291843232808532, 1.6051831969929706),
 ('correct', 'incorrect', 3.339528331468564, 4.456834443686269),
 ('correct', 'incorrect', 5.749759102723128, 4.954420383595261),
 ('correct', 'incorrect', 4.588890376004199, 4.500117533904311),
 ('incorrect', 'incorrect', 4.786989517945478, 2.406757508982321),
 ('correct', 'incorrect', 2.404333543361469, 4.424789839492051),
 ('correct', 'correct', 1.535145509976772, 2.166786242430654),
 ('incorrect', 'incorrect', 4.872872240274422, 4.776818931906313),
 ('incorrect', 'incorrect', 1.9431700082787386, 3.135896506991295),
 ('incorrect', 'incorrect', 5.523499831796023, 3.2268716011462764),
 ('correct', 'incorrect', 3.9412530148054716, 2.7334573334764527),
 ('incorrect', 'incorrect', 3.658545983991182, 4.838794500839061),
 ('correct', 'incorrect', 3.3590905169454732, 3.7844190196960272),
 ('correct', 'incorrect', 3.8714246519154596, 3.9569068860883503),
 ('correct', 'incorrect', 5.182364772072679, 3.6204538358122957),
 ('correct', 'incorrect', 3.3380254229808513, 3.4018179787677405),
 ('correct', 'incorrect', 5.266072053663813, 2.9103217061079834),
 ('correct', 'correct', 2.9802715467339387, 2.492284498305536),
 ('correct', 'incorrect', 4.355588877031746, 2.922526524615642),
 ('incorrect', 'correct', 2.4506759170746064, 5.286902052252206)]

# Pandas DataFrame
A Pandas DataFrame is a Python Object that holds a set of data like a spreadsheet.

In [ ]:
import pandas as pd  # it is custom to shorten pandas to pd because we'll be typing it a log
df = pd.DataFrame(data_tuples)  # called the dataframe df, but you can use any name you want... it's a Python object.

## Viewing the data

You can view the whole DataFrame by typing `df` as usual.  But, perhaps your dataset is large and you just want to get a sense of how it's looking.  For that we can use the `head()` method call on our dataframe.  By default it shows the first 5 rows, or you can specify the number of rows you want to see.

In [ ]:
df.head()

## Column names

In [54]:
df.columns = ["Incongruent Response", "Congruent Response", "Incongruent RT", "Congruent RT"]

In [55]:
df.head(2)

  Incongruent Response Congruent Response  Incongruent RT  Congruent RT
0              correct          incorrect        5.316297      5.075958
1            incorrect          incorrect        4.693978      3.285078

df.columns holds the column names, so you can print them if you want to see them

In [56]:
for col in df.columns: 
    print(col)

Incongruent Response
Congruent Response
Incongruent RT
Congruent RT

## Indexing data

### `iloc`

Here we use `iloc` to index our data by it's location, just like you would do in excel... In excel, you would find, for example, cell `A5`.  In Pandas, we do `df.ix[4,0]`.  Don't forget we start counting from 0 in Python, so the 5th row is 4, and the 1st column is 0.

In [67]:
df.iloc[4,0]

'incorrect'

### `loc`

Here we use `loc` to index our data by it's nameDon't forget we start counting from 0 in Python, so the 8th row is 7, and the 1st column is 'Incongruent Response.

In [68]:
df.loc[7,'Incongruent Response']

'correct'

## `index`

In both cases above, we used the `index` or, what we thought was the row number to find our cells.  Pandas created our index for us, and we just pretended it was the row number.  We could have used another column.
If you don't have an index but want one, or if you want to chage the index, you can use the method `.set_index()`

## Selecting Data

In [104]:
df[['Incongruent RT', 'Congruent RT']]

    Incongruent RT  Congruent RT
0         5.316297      5.075958
1         4.693978      3.285078
2         4.346245      1.668717
3         4.651065      2.799293
4         0.641427      3.231291
5         4.869973      2.069298
6         3.471674      1.233385
7         3.616590      1.727827
8         5.142538      1.652052
9         3.937170      3.143866
10        4.860401      5.080508
11        4.958814      2.776330
12        4.217956      3.467238
13        1.844038      3.990167
14        4.909558      2.169068
15        5.880729      3.566035
16        3.877831      3.582321
17        2.306024      4.104051
18        4.264550      2.368455
19        4.568907      2.163274
20        3.793730      2.286503
21        3.550194      0.913163
22        4.802824      2.421447
23        2.996877      4.381071
24        4.393438      2.079805
25        4.315548      2.586004
26        3.342359      3.556839
27        2.632202      1.919527
28        3.118664      2.869937
29        5.451893      2.167606
30        3.858826      3.200659
31        4.868101      2.095571
32        3.618910      2.053913
33        3.393765      4.588189
34        2.053027      1.687948
35        2.048233      1.585177
36        4.358993      2.815294
37        4.345384      5.081871
38        4.017286      4.222199
39        5.567804      2.179662
40        4.827675      2.449467
41        4.669369      5.101001
42        5.403390      5.428637
43        5.431006      2.930862
44        1.487560      3.844959
45        4.965738      4.753511
46        4.094638      2.355004
47        5.187880      2.746691
48        5.562436      2.525844
49        4.468902      0.928985

## Subsetting data

### Subsetting by row

In [106]:
df2 = df[0:3]
df2

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Log of Incongruent RT,Log of congruent RT
0,correct,incorrect,5.316297,5.075958,1.670777,1.624515
1,incorrect,incorrect,4.693978,3.285078,1.546280,1.189390
2,correct,incorrect,4.346245,1.668717,1.469312,0.512055

### Subsetting by index location

In [113]:
df4 = df.iloc[2:4, 1:4]
df4

  Congruent Response  Incongruent RT  Congruent RT
2          incorrect        4.346245      1.668717
3          incorrect        4.651065      2.799293

## Calculate the mean reaction times using the `mean()` method.

In [71]:
print(df['Incongruent RT'].mean())
print(df['Congruent RT'].mean())

4.100048375606001
2.938231142082509

## Calculate the median reaction times using the `median()` method.

In [75]:
print(df['Incongruent RT'].median())
print(df['Congruent RT'].median())

4.345814621574393
2.7615103570782686

## Calculate the mode of responses times using the `mode()` method.
Here we're calculating the mode of responses instead of reaction times because `mode()` calculates the most often occuring value.  Our reaction times are all unique values, so the mode function just returns the original data.  If we want to see the mode method in action, we can use it on the responses, and see what the most often occuring responses are in each category.

In [82]:
print(df['Incongruent Response'].mode())
print(df['Congruent Response'].mode())

0    correct
dtype: object
0    incorrect
dtype: object

## Calculate the standard deviation of the reaction times using the `stdev()` method.

In [83]:
print(df['Incongruent RT'].std())
print(df['Congruent RT'].std())

1.1556001832350131
1.1693635050024664

<h2>Functions &amp; Description</h2>
<p>Let us now understand the functions under Descriptive Statistics in Python Pandas. The following table list down the important functions &minus;</p>
<table class="table table-bordered">
<tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Function</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">1</td>
<td style="text-align:center;">count()</td>
<td>Number of non-null observations</td>
</tr>
<tr>
<td style="text-align:center;">2</td>
<td style="text-align:center;">sum()</td>
<td>Sum of values</td>
</tr>
<tr>
<td style="text-align:center;">3</td>
<td style="text-align:center;">mean()</td>
<td>Mean of Values</td>
</tr>
<tr>
<td style="text-align:center;">4</td>
<td style="text-align:center;">median()</td>
<td>Median of Values</td>
</tr>
<tr>
<td style="text-align:center;">5</td>
<td style="text-align:center;">mode()</td>
<td>Mode of values</td>
</tr>
<tr>
<td style="text-align:center;">6</td>
<td style="text-align:center;">std()</td>
<td>Standard Deviation of the Values</td>
</tr>
<tr>
<td style="text-align:center;">7</td>
<td style="text-align:center;">min()</td>
<td>Minimum Value</td>
</tr>
<tr>
<td style="text-align:center;">8</td>
<td style="text-align:center;">max()</td>
<td>Maximum Value</td>
</tr>
<tr>
<td style="text-align:center;">9</td>
<td style="text-align:center;">abs()</td>
<td>Absolute Value</td>
</tr>
<tr>
<td style="text-align:center;">10</td>
<td style="text-align:center;">prod()</td>
<td>Product of Values</td>
</tr>
<tr>
<td style="text-align:center;">11</td>
<td style="text-align:center;">cumsum()</td>
<td>Cumulative Sum</td>
</tr>
<tr>
<td style="text-align:center;">12</td>
<td style="text-align:center;">cumprod()</td>
<td>Cumulative Product</td>
</tr>
</table>

https://www.tutorialspoint.com/python_pandas/python_pandas_descriptive_statistics.htm

## Describe the data gives a summary of the numerical data in a given dataset

In [85]:
df.describe()

       Incongruent RT  Congruent RT
count       50.000000     50.000000
mean         4.100048      2.938231
std          1.155600      1.169364
min          0.641427      0.913163
25%          3.566793      2.112497
50%          4.345815      2.761510
75%          4.869505      3.578249
max          5.880729      5.428637

### We can use `=object` to see info about cells that contain objects, not numbers.  This includes text, like our response variables

In [89]:
df.describe(include=['object'])

       Incongruent Response Congruent Response
count                    50                 50
unique                    2                  2
top                 correct          incorrect
freq                     38                 37

### We can use `=all` to see all of that info at once.  `NaN` stands for  `not a number`, which is Pandas' N/A value

In [90]:
df. describe(include='all')

       Incongruent Response Congruent Response  Incongruent RT  Congruent RT
count                    50                 50       50.000000     50.000000
unique                    2                  2             NaN           NaN
top                 correct          incorrect             NaN           NaN
freq                     38                 37             NaN           NaN
mean                    NaN                NaN        4.100048      2.938231
std                     NaN                NaN        1.155600      1.169364
min                     NaN                NaN        0.641427      0.913163
25%                     NaN                NaN        3.566793      2.112497
50%                     NaN                NaN        4.345815      2.761510
75%                     NaN                NaN        4.869505      3.578249
max                     NaN                NaN        5.880729      5.428637

### Transforming data

Let's say we need to apply a function to our data.  Lots of times this is important to understand things on different scales.  Let's explore a natural log scale.

In [99]:
import numpy as np
df['Log of Incongruent RT'] = df['Incongruent RT'].transform(np.log)
df.head(3)

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Log of Incongruent RT,Log of congruent RT
0,correct,incorrect,5.316297,5.075958,1.670777,1.624515
1,incorrect,incorrect,4.693978,3.285078,1.546280,1.189390
2,correct,incorrect,4.346245,1.668717,1.469312,0.512055

### Another way to do that

In [100]:
df['Log of congruent RT'] = np.log(df['Congruent RT'])
df.head(3)

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Log of Incongruent RT,Log of congruent RT
0,correct,incorrect,5.316297,5.075958,1.670777,1.624515
1,incorrect,incorrect,4.693978,3.285078,1.546280,1.189390
2,correct,incorrect,4.346245,1.668717,1.469312,0.512055

## Calculating across axes using `apply`
Sometimes you want to calculate across rows, sometimes down columns.  `apply` is the command to do that.

In [103]:
df.apply(np.mean, axis=1)

TypeError: ('can only concatenate str (not "float") to str', 'occurred at index 0')

## Calculate proportion correct by applying a conditional count method.

In [53]:
proportion_correct_incongruent = df[df["Incongruent Response"] == "correct"].count(axis=0) / 50
proportion_correct_congruent = df[df["Congruent Response"] == "correct"].count(axis=0) / 50
print(proportion_correct_incongruent, proportion_correct_congruent)

Incongruent Response    0.76
Congruent Response      0.76
Incongruent RT          0.76
Congruent RT            0.76
dtype: float64 Incongruent Response    0.26
Congruent Response      0.26
Incongruent RT          0.26
Congruent RT            0.26
dtype: float64

`proportion_correct_incongruent = df[df["Incongruent Response"]=="correct"].count(axis=0) / 50`  is a complicated statment.  Let's break it down.

`50` is the number of trials.  When we divide the count by the number of items how we get a proportion.
The numerator is the count of times that cells in `df` where we match the pattern that cells inside `df["Incongruent Response"]` contain exactly the text `correct`.